@font-face {
  font-family: 'Kanit';
  font-weight: 300;
  font-style: normal;
  src: local('Kanit'), url('Kanit-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-weight: 400;
  font-style: normal;
  src: local('Kanit'), url('Kanit-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-weight: 600;
  font-style: normal;
  src: local('Kanit'), url('Kanit-Medium.ttf') format('truetype');
}
